/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

body {
	font-family: system-ui, sans-serif;
	line-height: 1.3;
}

h1 {
	font-size: 48px;
	font-weight: bold;
}

h2 {
	font-size: 28px;
}

h2 > span {
	background: linear-gradient(to right, #f72585, #4895ef);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

h3 {
	font-size: 28px;
	font-weight: bold;
}

p {
	margin: 16px 0;
}

strong {
	font-weight: bold;	
}

em {
	font-style: italic;
}

header {
	text-align: center;
	margin: 64px 16px;
}

footer {
	text-align: center;
	margin: 64px 16px;	
	background-color: #fafafa;
	padding: 16px;
	border-radius: 16px;
}

footer li {
	display: inline;
	margin: 8px;
}

a {
	color: #4895ef;
}

a:link, a:visited, a:hover, a:active {
	color: #4895ef;
	text-decoration: none;
	font-size: 18px;
}

a:hover {
	text-decoration: underline;
}

.text {
	margin: 32px;
}

.intro {
	margin: 64px auto 128px auto;
}

.intro p:first-child {
	font-size: 24px;
	font-weight: bold;
}

.app {
	margin: 64px auto 128px auto;
}

.screenshots {
	background: #ccc;
	margin: 16px 32px;
	padding: 16px;
	border-radius: 16px;
	height: 400px;
	text-align: center;
	background-position: 50% 15%, center;
	background-repeat: no-repeat, no-repeat;
}

.reception {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin: 32px 0;
	padding: 0 32px;
}

.reception p {
	margin: 0;
}

.reception p:first-child {
	font-size: 32px;
}

.fitr {
	background-image: -webkit-image-set(url('images/fitr1.png') 1x, url('images/fitr1@2x.png') 2x), linear-gradient(95deg, #219ebc, #8ecae6);
}

.national {
	background-image: -webkit-image-set(url('images/national2.png') 1x, url('images/national2@2x.png') 2x), linear-gradient(95deg, #ffafcc, #ffc8dd);
}

.tv {
	background-image: -webkit-image-set(url('images/tv2.png') 1x, url('images/tv2@2x.png') 2x), linear-gradient(95deg, #fec89a, #f9dcc4);
}

.ei {
	background-image: -webkit-image-set(url('images/ei1.png') 1x, url('images/ei1@2x.png') 2x), linear-gradient(95deg, #bee1e6, #e2ece9);
	background-position: 50% -15%, center;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
	.text {
		width: 440px;
		margin: 32px auto;
	}
	
	.screenshots {	
		background-position: 28% 15%, 72% 15%, center;
		background-repeat: no-repeat, no-repeat, no-repeat;
	}
	
	.fitr {
		background-image: -webkit-image-set(url('images/fitr1.png') 1x, url('images/fitr1@2x.png') 2x), -webkit-image-set(url('images/fitr2.png') 1x, url('images/fitr2@2x.png') 2x), linear-gradient(95deg, #219ebc, #8ecae6);
		background-position: 28% 15%, 72% -15%, center;
	}

	.national {
		background-image: -webkit-image-set(url('images/national2.png') 1x, url('images/national2@2x.png') 2x), -webkit-image-set(url('images/national1.png') 1x, url('images/national1@2x.png') 2x), linear-gradient(95deg, #ffafcc, #ffc8dd);
		background-position: 28% -15%, 72% 15%, center;
	}

	.tv {
		background-image: -webkit-image-set(url('images/tv2.png') 1x, url('images/tv2@2x.png') 2x), -webkit-image-set(url('images/tv1.png') 1x, url('images/tv1@2x.png') 2x), linear-gradient(95deg, #fec89a, #f9dcc4);
		background-position: 28% 15%, 72% -15%, center;
	}

	.ei {
		background-image: -webkit-image-set(url('images/ei1.png') 1x, url('images/ei1@2x.png') 2x), -webkit-image-set(url('images/ei2.png') 1x, url('images/ei2@2x.png') 2x), linear-gradient(95deg, #bee1e6, #e2ece9);
		background-position: 28% -45%, 72% -15%, center;
	}

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

}